@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	color: rgba(0, 0, 0, 1);
	background-color: #dddddd;
	font-family: 'Arial', sans-serif;
}

div#interface {
	width: 900px;
	padding: 10px;
	background-color: #ffffff;
	margin: -20px auto 10px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

p {
	text-indent: 50px;
	text-align: justify;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header#cabecalho img#icone {
	top: 70px;
	left: 780px;
	position: absolute;
}

header#cabecalho {
	height: 150px;
	border-bottom: 1px #606060 solid; 
	background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1 {
	padding: 0px;
	color: #606060;
	font-size: 30pt;
	margin-bottom: 0px;
	font-family: 'FonteLogo', sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

header#cabecalho h2 {
	padding: 0px;
	color: #888888;
	margin-top: 0px;
	font-size: 15pt;
	font-family: 'Titillium Web', sans-serif;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	top: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	color: white;
	padding: 10px;
	position: absolute;
	box-sizing: border-box;
	transition: opacity 1s;
	background-color: rgba(0, 0, 0, .4);
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
}

/* Formatação do Menu */

nav#menu ul {
	top: -20px;
	left: 300px;
	list-style: none;
	position: absolute;
	text-transform: uppercase;
}

nav#menu li {
	margin: 2px;
	padding: 10px;
	display: block;
	display: inline-block;
	background-color: #dddddd;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;
}

section#corpo {
	float: left;
	width: 500px;
	display: block;
	padding-right: 15px;
	border-right: 1px solid #606060; 
}

article#noticia-preincipal h2 {
	color: #606060;
	font-size: 13pt;
	padding: 5px 0px 5px 10px;
	background-color: #dddddd;
	padding: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
	color: #606060;
	font-size: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'FonteLogo', sans-serif;
}

header#cabecalho-artigo h2 {
	margin: 0px;
	color: #cecece;
	font-size: 13pt;
	background-color: #ffffff;
}

header#cabecalho-artigo h3 {
	color: #606060;
	font-size: 12pt;
}

.direita {
	text-align: right;
}

table#tabelaspac {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	border: 1px solid #606060;
}

table#tabelaspac td {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #606060;
}

table#tabelaspac td.ce {
	color: #ffffff;
	font-weight: bold;
	vertical-align: top;
	background-color: #606060;
}

table#tabelaspac td.cd {
	background-color: #cecece;
}

table#tabelaspac caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspac caption span {
	float: right;
	color: #000000;
	display: block;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral {
	float: right;
	width: 350px;
	padding: 10px;
	display: block;
	margin-top: 10px;
	background-color: #dddddd;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
	color: #606060;
	font-size: 20pt;
	margin-top: 0px;
	font-family: 'FonteLogo', sans-serif;
}

aside#lateral h2 {
	padding: 5px;
	color: #ffffff;
	font-size: 13pt;
	background-color: #606060;
}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}