@charset "UTF-8";

section#conteudo {
	margin: auto;
	width: 1000px;
}

iframe#frame-spec {
	border: none;
	width: 380px;
	height: 280px;
	overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
	display: none;
}